Repository openedx/docs.openedx.org, pull requests merged in 2024-05, with the labels that each got.

#454 Add Open edX support doc for enabling waffle flags
  source/site_ops/how-tos/add-waffle-flag-for-user.rst
Labels: open-source-contribution, inactive

#493 docs: start the Redwood release listing
  source/community/release_notes/index.rst
  source/community/release_notes/named_release_branches_and_tags.rst
  source/community/release_notes/redwood.rst
Labels: open-source-contribution

#498 docs: Remove arm64 section and add PR push auth solution
  source/developers/quickstarts/first_openedx_pr.rst
Labels: documentation
