Repository openedx/docs.openedx.org, pull requests merged in 2025-07, with the labels that each got.

#1209 Add new images and update moderate discussions documentation
  source/_images/educator_how_tos/edit_post_kebab.png
  source/_images/educator_how_tos/edit_post_reason.png
  source/_images/educator_how_tos/reported_post_filter.png
  source/_images/educator_how_tos/unreport_post.png
  source/educators/how-tos/communication/moderate_discussions.rst
Labels: open-source-contribution, core contributor

#1157 Update 'Set Grade Range' images and change from bullet list to number…
  source/_images/educator_how_tos/grade_range.png
  source/_images/educator_how_tos/grade_range_b.png
  source/educators/how-tos/grading/set_grade_range.rst
Labels: open-source-contribution, Ready to Merge, core contributor

#1226 Passed set_subsection_problem_date.rst
  source/educators/how-tos/course_development/set_subsection_problem_date.rst
Labels: open-source-contribution

#1220 Passed update_reimport_taxonomy.rst
  source/educators/how-tos/content-tagging-how-tos/update_reimport_taxonomy.rst
Labels: open-source-contribution

#1219 Passed Create_flat_taxonomy_by_uploading_CSV.rst
  source/educators/how-tos/content-tagging-how-tos/Create_flat_taxonomy_by_uploading_CSV.rst
Labels: open-source-contribution

#1208 Passed add_math_expression_problem.rst
  source/educators/how-tos/course_development/exercise_tools/add_math_expression_problem.rst
Labels: open-source-contribution

#1207 Passed add_external_grader.rst
  source/educators/how-tos/course_development/exercise_tools/add_external_grader.rst
Labels: open-source-contribution

#1205 Passed use_dropdown_feedback.rst
  source/educators/how-tos/course_development/exercise_tools/use_dropdown_feedback.rst
Labels: open-source-contribution

#1198 Failed add_unsupported_problem_types.rst
  source/educators/how-tos/course_development/exercise_tools/add_unsupported_problem_types.rst
Labels: open-source-contribution

#1119 Edit step 1 in Make the Google Calendar Public
  source/educators/how-tos/course_development/exercise_tools/embed_google_calendar.rst
Labels: open-source-contribution

#1133 Passed edit_certificate.rst
  source/educators/how-tos/set_up_course/edit_certificate.rst
Labels: open-source-contribution

#1153 Failed manage_textbooks.rst
  source/educators/how-tos/course_development/manage_textbooks.rst
Labels: open-source-contribution

#1123 Passed manage_word_cloud.rst
  source/educators/how-tos/course_development/exercise_tools/manage_word_cloud.rst
Labels: open-source-contribution

#1212 Passed manage_sections.rst
  source/educators/how-tos/course_development/manage_sections.rst
Labels: open-source-contribution

#1138 Passed add_mathjax.rst
  source/educators/how-tos/course_development/exercise_tools/add_mathjax.rst
Labels: open-source-contribution

#1150 Passed manage_course_files.rst
  source/educators/how-tos/course_development/manage_course_files.rst
Labels: open-source-contribution

#1151 Passed manage_custom_page.rst
  source/educators/how-tos/course_development/manage_custom_page.rst
Labels: open-source-contribution

#1169 Passed embed_iframe_text_editor.rst
  source/educators/how-tos/embed_iframe_text_editor.rst
Labels: open-source-contribution

#1170 Passed view_published_released_content.rst
  source/educators/how-tos/view_published_released_content.rst
Labels: open-source-contribution

#1204 Passed create_drag_and_drop_problem.rst
  source/educators/how-tos/course_development/exercise_tools/create_drag_and_drop_problem.rst
Labels: open-source-contribution

#1202 Passed create_custom_python_problem.rst
  source/educators/how-tos/course_development/exercise_tools/create_custom_python_problem.rst
Labels: open-source-contribution

#1200 Passed add_circuit_schematic_builder.rst
  source/educators/how-tos/course_development/exercise_tools/add_circuit_schematic_builder.rst
Labels: open-source-contribution

#1199 Passed add_chemical_equation.rst
  source/educators/how-tos/course_development/exercise_tools/add_chemical_equation.rst
Labels: open-source-contribution

#1196 Passed configure_hints.rst
  source/educators/how-tos/course_development/configure_hints.rst
Labels: open-source-contribution

#1189 Passed build_a_collection_in_a_library.rst
  source/educators/how-tos/course_development/build_a_collection_in_a_library.rst
Labels: open-source-contribution

#1186 Passed publish_library_content.rst
  source/educators/how-tos/course_development/publish_library_content.rst
Labels: open-source-contribution

#1171 Passed create_library.rst
  source/educators/how-tos/course_development/create_library.rst
Labels: open-source-contribution

#1173 Passed add_components_library.rst
  source/educators/how-tos/course_development/add_components_library.rst
Labels: open-source-contribution

#1185 Passed create_and_edit_content_in_a_library.rst
  source/educators/how-tos/course_development/create_and_edit_content_in_a_library.rst
Labels: open-source-contribution

#1163 Failed enable_wiki.rst
  source/educators/how-tos/course_development/enable_wiki.rst
Labels: open-source-contribution

#1165 Failed enable_calculator.rst
  source/educators/how-tos/course_development/enable_calculator.rst
Labels: open-source-contribution

#1188 Failed add_delete_tags_in_library_content.rst
  source/educators/how-tos/course_development/add_delete_tags_in_library_content.rst
Labels: open-source-contribution

#1210 Eliminite Legacy "Anonymous to All" discussion option and update Anon…
  source/_images/educator_how_tos/allow_anonymous_posts_on.png
  source/_images/educator_how_tos/staff_view_anonymous.png
  source/_images/educator_how_tos/student_post_anonymously.png
  source/_images/educator_how_tos/student_view_anonymous.png
  source/educators/how-tos/toggle_anonymous_discussions.rst
Labels: open-source-contribution, core contributor

#1248 Adding description for pending frontend plugin slots
  source/community/release_notes/teak/teak_frontend_plugin_slots.rst
Labels: open-source-contribution, mao-onboarding

#1177 Failed edit_components_library.rst
  source/educators/how-tos/course_development/edit_components_library.rst
Labels: open-source-contribution
